<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="date" content="{{date}}">
  <meta name="category" content="{{category}}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="shane's blog">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="article:published_time" content="{{date}}">
  <link rel="canonical" href="{{url}}">
  <link rel="alternate" type="application/atom+xml" title="shane's blog" href="../feed.xml">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../base.css">
  <link rel="stylesheet" href="post.css">
</head>
<body>
{{masthead}}
  <article id="main">

    <h1>{{title}}</h1>
    <p class="meta"><time datetime="{{date}}">{{date}}</time> &middot; {{category}}</p>

{{content}}
  </article>

{{footer}}
</body>
</html>
